name: coverage
on:
  pull_request:
    paths:
    - '**.rs'
    - '**/Cargo.toml'
    - '**/Cargo.lock'
    - .github/workflows/coverage.yml
  push:
    branches:
    - master
jobs:
  tarpaulin:
    name: tarpaulin
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - uses: garyttierney/tarpaulin@f75a8fbd9e5128742c8ca1f98cd23ab7ca173f07
      with:
        version: latest
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        yml: .github/configs/codecov.yml
    - uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: cobertura.xml
