name: coverage
on:
  pull_request:
    paths:
    - '**.rs'
    - '**/Cargo.toml'
    - '**/Cargo.lock'
    - .github/workflows/coverage.yml
    - .github/configs/grcov.yml
  push:
    branches:
    - master
jobs:
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace --no-fail-fast
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zno-landing-pads'
    - id: coverage
      uses: actions-rs/grcov@v0.1
      with:
        config: .github/configs/grcov.yml
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ${{ steps.coverage.outputs.report }}
        yml: .github/configs/codecov.yml
